@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

html {
    font-size: 62.5%;
}

body {
    background: url('../images/bg-desktop.svg') center center no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
}

.container {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    display: grid;
    grid-template-areas: "header header"
                         "main main"
                         "footer footer";
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3); */
}

.header {
    grid-area: header;
    margin: 50px 70px 30px;
}

.header img {
    width: 240px;
}

.main {
    grid-area: main;
    margin: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 50px;
}

.main .image {
    width: 100%;
}

.main .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* max-width: 580px; */
}

.main .description .conteudo {
    position: absolute;
    top: 40px;
}

.main .description h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
}

.main .description p {
    color: #fff;
    font-size: 1.8rem;
    margin: 20px auto 45px;
}

.main .description .btn-register {
    background-color: #fff;
    color: hsl(257, 40%, 49%);
    border-radius: 50px;
    padding: 15px 55px;
    font-size: 1.8rem;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.main .description .btn-register:hover {
    background-color: hsl(300, 69%, 71%);
}

.footer {
    grid-area: footer;
}

.footer .social-media {
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    padding: 0 80px 40px;
    gap: 15px;
}

.social-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff; 
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.social-icon:hover {
    color: hsl(300, 69%, 71%);
    border: 2px solid hsl(300, 69%, 71%);
}